# make sure to update webpack.base.js EnvironmentPlugin after making changes here

INFURA_API_KEY=sfdkfskdfksdf
INFURA_NETWORK=mainnet
AUTOMATE_PAYMENT_KEY=dkfjsdkjf
# CAN'T CALL LOCALHOST BECAUSE REQUESTS ARE PROXIED THROUGH CLOUDFLARE
AUTOMATE_API_URL=http://localhost:1337
SENTRY_DSN=https://fhshsd@rrrfdfdfgdf.ingest.sentry.io/344

### WRANGLER

WRANGLER_ACCOUNT_ID=fsdfsfsdf
WRANGLER_ZONE_ID=fsdfsdf
WRANGLER_KV_ID=fsjdkfjsk
WRANGLER_KV_PREVIEW_ID=fsjkfsjd
